@import "tailwindcss";

@font-face {
    font-family: Cormorant;
    src: url('/fonts/CormorantUpright-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: Candal;
    src: url('/assets/fonts/Candal-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: Barlow;
    src: url('/fonts/BarlowSemiCondensed-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: BarlowRegular;
    src: url('/fonts/Barlow-Regular.ttf');
    font-display: swap;
}
@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat.ttf');
    font-display: swap;
}
@font-face {
    font-family: Inter;
    src: url('/fonts/Inter-VariableFont.ttf');
    font-display: swap;
}
@theme{
    --font-cormorant:Cormorant, 'sans-serif';
    --font-candal:Candal, 'sans-serif';
    --font-barlow:Barlow, 'sans-serif';
    --font-barlow-regular: BarlowRegular, 'sans-serif';
    --font-montserrat: Montserrat, 'sans-serif';
    --font-inter: Inter, 'sans-serif';

    --color-tan: #D2B68A;
    --color-linen: #FEF4E8;
    --color-navy: #1E1E1E;
    --color-my-gray: #CED5DB;
    --color-navy-dark: #1E1E1E;
    --color-light-gray: #6B7280;
    --color-purple: #402945;
    --color-purplegray: #E5E7EB;
    --color-dark-gray: #4B5563;
    --color-gray700: #374151;
    --color-gray900: #111827;
    --color-gray200: #F9FAFB;
    --color-gray100: #D1D5DB;
}


@layer utilities {
  .bg-hero {
    @apply bg-cover bg-center;
    background-image: url('/images/bg.jpg');
  }

  .bg-hero-fixed {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
  }
}